@model prototipoCantina.Models.Reserva

@{
    ViewData["Title"] = "Detalles de la Reserva";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Detalles de la Reserva</h1>
    <div class="card shadow">
        <div class="card-body">
            <dl class="row">
                <dt class="col-5 col-md-3">Fecha de Reserva</dt>
                <dd class="col-7 col-md-9">@Html.DisplayFor(model => model.FechaReserva)</dd>

                <dt class="col-5 col-md-3">Monto Total</dt>
                <dd class="col-7 col-md-9">@Html.DisplayFor(model => model.MontoTotal)</dd>

                <dt class="col-5 col-md-3">Menú</dt>
                <dd class="col-7 col-md-9">@Html.DisplayFor(model => model.IdMenuNavigation.NombreMenu)</dd>

                <dt class="col-5 col-md-3">Usuario</dt>
                <dd class="col-7 col-md-9">@Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)</dd>
            </dl>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-center gap-3">
        <a asp-action="Edit" asp-route-id="@Model?.IdReserva" class="btn btn-warning"><i class="fa fa-edit"></i> Editar</a>
        <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-list"></i> Volver a la lista</a>
    </div>
</div>
