@model prototipoCantina.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Editar Usuario</h1>

    <h4>Datos del Usuario</h4>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Campo oculto para IdUsuario -->
        <input type="hidden" asp-for="IdUsuario" />

        <div class="mb-3">
            <label asp-for="Nombre" class="control-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Apellido" class="control-label">Apellido</label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="control-label">Correo Electrónico</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Telefono" class="control-label">Teléfono</label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Puesto" class="control-label">Puesto</label>
            <input asp-for="Puesto" class="form-control" />
            <span asp-validation-for="Puesto" class="text-danger"></span>
        </div>
        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
            <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-list"></i> Volver a la lista</a>
        </div>
    </form>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
